

/* color palette from <https://github.com/vuejs/theme> */
:root {
  --base-color-blue:  #6CCBF4;
  --base-color-green: #8EFFA7;
  --base-color-white: #FFFFFF;
  --base-color-white-2: #F1FCFF;
  --base-color-purple: #B38FE0;
  --base-color-orange: #F6BC58;

  --color-warning: #F65858;
  --purple-dark: #9C39FF;

  --font-color: #0D2735;
  --font-color-white: #FFFFFF;
  --font-color-black: #000000;

  --background-color-blue:  #B4E4FF ;
  --background-color-green: #B5FFC5;

  --font-family-primary: 'Montserrat Alternates', sans-serif;
  --font-family-secondary: 'Raleway', sans-serif;
  --font-family-letters: 'Dancing Script', cursive;

}

/* 
Semantic color variables for this project 
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}  */

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: ;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
