@import "./base.css";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,700;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;0,600;1,400&display=swap');

#app {
  max-width: 1280px;
  margin: 0;
  padding: 2rem;
  font-weight: normal;
}



@media (hover: hover) {
  a:hover {

  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }

  #app {
    
    padding: 0 2rem;
  }
}
